/* Style the sidebar - fixed full height */
.sidebar {
  height: 200%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 0;
  background-color: #053787;
  padding-top: 0px;
}


.sidebar a {
  margin-left: 10px;
  font-size: 20px;
  color: #fff;

}



.sidebar a .taskSearch {
 position:relative;
 z-index: 1;
 border:4px solid #fff;
margin: 5px;

}

.sidebar a .dash {
 position:relative;
 z-index: 1;
 border:4px solid #fff;
margin: 5px;

}

#tasklist .sidebar a .taskSearch{
 z-index: 1;
 border:4px solid green;
}

#dash .sidebar a .dash{
 z-index: 1;
 border:4px solid green;
}
.sidebar a .nav-link:before{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0px;
  height: 0px;
  content: '';
  background: #fff;
  z-index: -1;
  transition: all 0.5s ease;
}

.sidebar a .nav-link:hover:before {
  height: 100%;

}
/*label::first-letter {
  text-transform: capitalize;
}
*/